In [1]:
import pyreadstat
import pandas as pd
import numpy as np
from dask import compute, persist
import dask.dataframe as dd
import pickle

In [2]:
import xgboost as xgb
import dask_xgboost as dxgb
from sklearn.metrics import precision_score
from sklearn.metrics import confusion_matrix

In [4]:
import os
from dask.distributed import Client, progress
# client = Client(os.environ.get("DISTRIBUTED_ADDRESS"))
client = Client(n_workers=4, threads_per_worker=1)

In [5]:
merged_ddf = dd.read_hdf('/appl/dirac/projects/attrsrch/greenfield/merged_book2.hdf', '/data', mode='r')

In [6]:
df = pd.read_pickle('/appl/dirac/projects/attrsrch/greenfield/3quarter_cleaned.pkl')

In [7]:
# pd.set_option('display.max_columns', 100)

In [8]:
merged_ddf['uad_year'] = merged_ddf['prop_book_dt'].dt.year

In [9]:
merged_ddf = merged_ddf.rename(columns={"sf": "sf_uad", 
                                      "lot": "lot_uad", 
                                      "bdrm": "bdrm_uad",
                                      "bath": "bath_uad",
                                      "sf_total": "sf_prdw", 
                                      "lot_size": "lot_prdw", 
                                      "no_bath": "bath_prdw", 
                                      })

In [10]:
merged_ddf['yr_built_diff'] = merged_ddf['yr_built_prdw'] - merged_ddf['yr_built_uad']
merged_ddf['sf_diff'] = merged_ddf['sf_prdw'] - merged_ddf['sf_uad']
merged_ddf['lot_diff'] = merged_ddf['lot_prdw'] - merged_ddf['lot_uad']
merged_ddf['bath_diff'] = merged_ddf['bath_prdw'] - merged_ddf['bath_uad']

In [11]:
# sample the dataframe to shrink size and test
merged_ddf = merged_ddf.sample(frac=0.01)

In [23]:
import dask_ml

ModuleNotFoundError: No module named 'dask_ml'

In [12]:
# pick columns
cols = [
#         'tax_year', 
        'yr_built_prdw', 'sf_prdw', 'lot_prdw', 'bath_prdw', 
        'uad_year', 'yr_built_uad', 'sf_uad', 'lot_uad', 'bdrm_uad', 'bath_uad', 
#         'year_diff', 
        'yr_built_diff', 'sf_diff', 'lot_diff', 'bath_diff'
        ]

In [18]:
X = merged_ddf[cols].persist()
progress(X)
# pred_mat = xgb.DMatrix(X)

VBox()

In [19]:
X.head()

,yr_built_prdw,sf_prdw,lot_prdw,bath_prdw,uad_year,yr_built_uad,sf_uad,lot_uad,bdrm_uad,bath_uad,yr_built_diff,sf_diff,lot_diff,bath_diff
140969,1980.0,1254.0,NaN,2.0,2014,1980.0,1250.0,NaN,2.0,2.0,0.0,4.0,NaN,0.0
296309,2006.0,1408.0,21774.0,2.0,2014,2006.0,1410.0,21780.000000,3.0,2.0,0.0,-2.0,-6.000000,0.0
56135,1963.0,2298.0,14809.0,2.0,2015,1963.0,2370.0,14810.400391,4.0,3.0,0.0,-72.0,-1.400391,-1.0
193307,1977.0,1924.0,17850.0,2.0,2019,1977.0,1970.0,17859.599609,2.0,2.0,0.0,-46.0,-9.599609,0.0
325385,1956.0,1502.0,70132.0,1.0,2019,1956.0,1500.0,70131.601562,3.0,1.5,0.0,2.0,0.398438,-0.5

In [20]:
model = pickle.load(open('model2.pkl', 'rb'))

In [21]:
client

In [22]:
preds = dxgb.predict(client, model, X).persist()
progress(preds)

VBox()

In [20]:
client.scheduler_info()['workers']

{'tcp://10.215.56.43:34307': {'type': 'Worker',
  'id': 0,
  'host': '10.215.56.43',
  'resources': {},
  'local_directory': '/home/q2uxap/pc_model/dask-worker-space/worker-f6ioeods',
  'name': 0,
  'nthreads': 4,
  'memory_limit': 33725121536,
  'last_seen': 1576008272.125613,
  'services': {},
  'metrics': {'cpu': 0.0,
   'memory': 1870831616,
   'time': 1576008271.6255195,
   'read_bytes': 8779.457474790193,
   'write_bytes': 15850.911404484841,
   'num_fds': 27,
   'executing': 0,
   'in_memory': 8,
   'ready': 0,
   'in_flight': 0,
   'bandwidth': 100000000},
  'nanny': 'tcp://10.215.56.43:34817'},
 'tcp://10.215.56.43:35669': {'type': 'Worker',
  'id': 2,
  'host': '10.215.56.43',
  'resources': {},
  'local_directory': '/home/q2uxap/pc_model/dask-worker-space/worker-tpl8z8of',
  'name': 2,
  'nthreads': 4,
  'memory_limit': 33725121536,
  'last_seen': 1576008272.1209047,
  'services': {},
  'metrics': {'cpu': 2.0,
   'memory': 2977247232,
   'time': 1576008271.6199806,
   'read_bytes': 8217.321866870696,
   'write_bytes': 15325.495822494262,
   'num_fds': 26,
   'executing': 0,
   'in_memory': 8,
   'ready': 0,
   'in_flight': 0,
   'bandwidth': 100000000},
  'nanny': 'tcp://10.215.56.43:35899'},
 'tcp://10.215.56.43:37845': {'type': 'Worker',
  'id': 3,
  'host': '10.215.56.43',
  'resources': {},
  'local_directory': '/home/q2uxap/pc_model/dask-worker-space/worker-3tqp7ttk',
  'name': 3,
  'nthreads': 4,
  'memory_limit': 33725121536,
  'last_seen': 1576008272.1263819,
  'services': {},
  'metrics': {'cpu': 2.0,
   'memory': 2149203968,
   'time': 1576008271.6245348,
   'read_bytes': 7595.613172000668,
   'write_bytes': 14690.724685329706,
   'num_fds': 26,
   'executing': 0,
   'in_memory': 8,
   'ready': 0,
   'in_flight': 0,
   'bandwidth': 100000000},
  'nanny': 'tcp://10.215.56.43:41511'},
 'tcp://10.215.56.43:46363': {'type': 'Worker',
  'id': 1,
  'host': '10.215.56.43',
  'resources': {},
  'local_directory': '/home/q2uxap/pc_model/dask-worker-space/worker-fln9i594',
  'name': 1,
  'nthreads': 4,
  'memory_limit': 33725121536,
  'last_seen': 1576008272.127808,
  'services': {},
  'metrics': {'cpu': 2.0,
   'memory': 2862149632,
   'time': 1576008271.626604,
   'read_bytes': 7847.941730390293,
   'write_bytes': 14950.369077811947,
   'num_fds': 26,
   'executing': 0,
   'in_memory': 7,
   'ready': 0,
   'in_flight': 0,
   'bandwidth': 100000000},
  'nanny': 'tcp://10.215.56.43:37149'}}

In [8]:
# generate target0
df['target0'] = 0
df.loc[abs(df['prdw_appe'] - df['uad_appe']) <= 0.1, 'target0'] = 0
df.loc[df['prdw_appe'] - df['uad_appe'] > 0.1, 'target0'] = 1
df.loc[df['prdw_appe'] - df['uad_appe'] < -0.1, 'target0'] = 2

# generate target1
df['target1'] = 0
df.loc[abs(abs(df['prdw_ppe'] - df['market_prdw_ppe']) - abs(df['uad_ppe'] - df['market_uad_ppe'])) <= 0.1, 'target1'] = 0
df.loc[abs(df['prdw_ppe'] - df['market_prdw_ppe']) - abs(df['uad_ppe'] - df['market_uad_ppe']) > 0.1, 'target1'] = 1
df.loc[abs(df['prdw_ppe'] - df['market_prdw_ppe']) - abs(df['uad_ppe'] - df['market_uad_ppe']) < -0.1, 'target1'] = 2

# generate target2
df['target2'] = 0
df.loc[abs(abs(df['prdw_appe'] - abs(df['market_prdw_ppe'])) - abs(df['uad_appe'] - abs(df['market_uad_ppe']))) <= 0.1, 'target2'] = 0
df.loc[abs(df['prdw_appe'] - abs(df['market_prdw_ppe'])) - abs(df['uad_appe'] - abs(df['market_uad_ppe'])) > 0.1, 'target2'] = 1
df.loc[abs(df['prdw_appe'] - abs(df['market_prdw_ppe'])) - abs(df['uad_appe'] - abs(df['market_uad_ppe'])) < -0.1, 'target2'] = 2

# generate target3
df['target3'] = abs(df['prdw_appe'] - abs(df['market_prdw_ppe'])) - abs(df['uad_appe'] - abs(df['market_uad_ppe']))

df['year_diff'] = df['tax_year'] - df['uad_year']
df['yr_built_diff'] = df['yr_built_prdw'] - df['yr_built_uad']
df['age_diff'] = df['age_prdw'] - df['age_uad']
df['sf_diff'] = df['sf_prdw'] - df['sf_uad']
df['lot_diff'] = df['lot_prdw'] - df['lot_uad']
df['bath_diff'] = df['bath_prdw'] - df['bath_uad']

In [9]:
# pick columns
cols = [
#         'tax_year', 
        'yr_built_prdw', 'sf_prdw', 'lot_prdw', 'bath_prdw', 
        'uad_year', 'yr_built_uad', 'sf_uad', 'lot_uad', 'bdrm_uad', 'bath_uad', 
#         'year_diff', 
        'yr_built_diff', 'sf_diff', 'lot_diff', 'bath_diff'
        ]

X2 = df[cols]

In [10]:
X2 = dd.from_pandas(X2, npartitions=1).persist()
X2.head()

,yr_built_prdw,sf_prdw,lot_prdw,bath_prdw,uad_year,yr_built_uad,sf_uad,lot_uad,bdrm_uad,bath_uad,yr_built_diff,sf_diff,lot_diff,bath_diff
0,1955.0,1072.0,18971.0,1.0,2018,1955.0,1070.0,19166.400391,3.0,1.0,0.0,2.0,-195.400391,0.0
1,1990.0,2594.0,43369.0,2.0,2018,1990.0,2610.0,43560.000000,4.0,2.5,0.0,-16.0,-191.000000,-0.5
2,1960.0,960.0,17550.0,1.0,2018,1960.0,960.0,17424.000000,2.0,1.0,0.0,0.0,126.000000,0.0
3,2008.0,2955.0,25673.0,3.0,2016,2008.0,2950.0,25700.400391,4.0,3.0,0.0,5.0,-27.400391,0.0
4,1989.0,2088.0,21261.0,2.0,2018,1989.0,1920.0,21344.400391,3.0,2.5,0.0,168.0,-83.400391,-0.5

In [11]:
preds2 = dxgb.predict(client, model, X2).persist()
preds2

dask.array<values, shape=(nan,), dtype=float32, chunksize=(nan,)>

In [12]:
progress(preds2)

VBox()

In [ ]:
! vmstat -s